<html>
  <head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
    <h1>NEWS TODAY: </h1>
    </header>
    <div class= "input-form">
      <form action="/" method="get">
      <input class="input-field" type="text" name="topic">
      <input class="button" type="submit" value="Search a topic">
    </div>

    <% @news["articles"].each do |article| %>

      <div class ="news-item">
        <ul class="story"> <b>News story: </b> <%= article["title"] %> </ul>
        <ul class="description"> <b>Description:</b> <%= article["description"] %></ul>
        <ul class="author"><b> Author:</b> <%= article["author"] %></ul>
        <ul class="source"> <b>Publisher:</b> <%= article["source"]["name"] %></ul>
        <ul> <img class="image" src= "<%= article["urlToImage"] %>"> </ul>
        <ul class="pub-date"> <b>Publication date:</b> <%= article["publishedAt"][0...10] %></ul>
      </div>
    <% end %>
  </body>
</html>